/*General Site Layout*/

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
body > * { grid-column: 2/12; }
header { grid-column: 1/-1; }
footer { grid-column: 1/-1; }

.headerbackground { grid-column: 1/-1}
/*-----NAVBAR-----*/

//header {
//    display:grid;
//    grid-template-columns: repeat(12,1fr);
//}
//
//.logo { 
//    grid-column: 2/3; 
//    max-height: 50px;
//    margin: 20px 0px;
//}
//
//nav { grid-column: 8/12; }
//nav > a {margin-right:40px; }









/*-----SLIDESHOW-----*/


/*-----MENU-----*/

.menuItems {
    padding: 2em 3em;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
        & img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
    }
}

