@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans");
html {
  font-size: 30px; }

/*-------------------------*/
/*-----CSS GRID LAYOUT-----*/
/*-------------------------*/
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

body > * {
  grid-column: 2/12; }

header {
  grid-column: 1/-1; }

footer {
  grid-column: 1/-1; }

.header-background {
  grid-column: 1/-1; }

/*------------------*/
/*-----STYLING------*/
/*------------------*/
/*-----SECTIONS + BACKGROUND-----*/
section {
  border: 2px solid gray;
  position: relative;
  margin-top: 100px;
  padding: 30px 30px 40px 30px; }

.section-title {
  background-color: #fff;
  border-radius: 50%;
  padding: 0 20px;
  margin-left: 20px;
  position: absolute;
  top: -80px;
  left: 0;
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%; }

body {
  background-image: url(../images/donutbackgroundSMALL.jpg);
  background-position: left bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 25%;
  margin: 0;
  padding: 0; }

/*-----NAVBAR-----*/
header {
  position: fixed;
  width: 100%;
  z-index: 998;
  height: 180px; }

.header-background {
  width: 100%;
  height: 180px;
  position: fixed; }

.header-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px; }

.logo-image {
  max-height: 100px;
  z-index: 999; }

.nav {
  z-index: 999;
  margin-left: 20%; }

.nav-link {
  font-family: "Nanum Pen Script", cursive;
  font-size: 100%;
  color: black;
  text-decoration: none;
  margin-left: 40px; }

.language {
  z-index: 999;
  display: flex;
  flex-direction: column; }

.language-link {
  font-family: "Open Sans", sans-serif;
  font-size: 50%;
  text-decoration: none;
  color: black;
  margin-top: 5px; }

/*-----SLIDESHOW-----*/
#slideshow {
  margin: 200px auto;
  position: relative;
  width: 100%;
  height: 300px; }
  #slideshow > div {
    position: absolute; }
  #slideshow img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: scale-down; }

/*-----DESCRIPTION-----*/
p {
  font-size: 60%;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  line-height: 1.6; }

/*-----MENU-----*/
.menu-items {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense; }

.horizontal-2 {
  grid-column: span 2;
  grid-row: span 1; }

.horizontal-3 {
  grid-column: span 3;
  grid-row: span 1; }

.horizontal-big {
  grid-column: span 3;
  grid-row: span 2; }

.vertical-2 {
  grid-column: span 1;
  grid-row: span 2; }

.vertical-3 {
  grid-column: span 1;
  grid-row: span 3; }

.vertical-big {
  grid-column: span 2;
  grid-row: span 3; }

.big {
  grid-column: span 2;
  grid-row: span 2; }

.small {
  grid-column: span 1;
  grid-row: span 1; }

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.menu-item {
  background-color: rgba(0, 0, 0, 0.13);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .menu-item p {
    font-family: "Nanum Pen Script", cursive;
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 1; }
  .menu-item p:first-child {
    font-size: 130%; }

/*-----FIND US-----*/
.schedule {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 20px;
  grid-gap: 10px;
  margin: 20px 200px;
  font-size: 60%;
  font-family: "Open Sans", sans-serif; }

.schedule > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#findUs {
  margin-bottom: 50px; }

/*-----FOOTER-----*/
.footer-background {
  width: 100%;
  height: 210px;
  position: absolute; }

.footer-content {
  position: relative;
  margin-top: 50px; }

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center; }

.footer-social-links {
  margin: 0px 20px;
  font-size: 200%; }

.fa-facebook-square {
  color: #3B5998; }

.fa-instagram {
  color: #fb3958; }

.fa-twitter-square {
  color: #0084b4; }

footer p {
  text-align: center; }

.credits {
  font-size: 50%;
  margin-bottom: 10px; }

/*-------------------------*/
/*------SCREEN QUERIES-----*/
/*-------------------------*/
/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
  body {
    background-color: red; } }
/*Small tablets to big tablets: From 768-1023px;*/
@media only screen and (max-width: 1023px) {
  body {
    background-color: purple; } }
/*Small phones to small tablets: from 481-767 px */
@media only screen and (max-width: 767px) {
  body {
    background-color: orange; } }
/*Small phones: from 0-480 px */
@media only screen and (max-width: 480px) {
  body {
    background-color: green; } }

/*# sourceMappingURL=styles.css.map */
