@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Open+Sans&subset=latin-ext');

//Thank you Phillip at Pixelflips (pixelflips.com) for your blog on fixed headers and navigating to sections in a page
//Thank you Chris Coyier for your slideshow snippet on css-tricks

$text: 'Open Sans', sans-serif;
$header1: 'Caveat Brush', cursive;
$headerfooter: #898989;


html { font-size: 30px; }
/*-------------------------*/
/*-----CSS GRID LAYOUT-----*/
/*-------------------------*/

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}   
body > * { grid-column: 2/12; }
header { grid-column: 1/-1; }
footer { grid-column: 1/-1; }

.header-background { grid-column: 1/-1; }
.footer-background { grid-column: 1/-1; }


/*------------------*/
/*-----STYLING------*/
/*------------------*/


/*-----SECTIONS + BACKGROUND-----*/

section {
    border: 2px solid gray;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px 30px 40px 30px;
    }

.section-title {
    background-color: #fff;
    border-radius: 50%;
    padding: 0 30px;
    margin-left: 20px;
    position: absolute;
    top: -70px;
    left: 0;
    font-family: $header1;
    font-size: 150%;
}

body {
    margin: 0;
    padding: 0;
}
//Anchor for nav links to accomodate for fixed header
.anchor{
  display: block;
  height: 160px; /*same height as header*/
  margin-top: -160px; /*same height as header*/
  visibility: hidden;
}
/*-----NAVBAR-----*/

header {
    position: fixed;
    width: 100%;
    z-index: 998;
    height: 180px;
}
.header-background {
    width: 100%;
    height: 180px;
    position: fixed;
}
.header-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.logo-image {
    max-height: 100px;
    z-index: 999;
}
.nav {
    z-index: 999;
    margin-left: 20%;
}

.nav-link {
    font-family: $header1;
    font-size: 120%;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}
.language {
    font-family: $header1;
    font-size: 120%;
    color: black;
    margin-left: 40px;
}

/*Mobile Navigation */
.mobile-nav-icon {
    cursor: pointer;
    display: none;
    z-index: 999;
}
.mobile-nav-icon i { font-size: 120%; }

/*-----SLIDESHOW-----*/
//Original guide: https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/ ******
//Another source, not used https://www.sitepoint.com/making-simple-image-slider-html-css-jquery/

#slideshow {
    //margin and position center the slideshow. Others give paramaters as to size. 
    margin: 300px auto 130px auto; 
    position: relative; 
    width: 100%; 
    height: 300px; 
//    overflow: hidden;
    > div {
        //    to allow image to disappear behind newly created child
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    & img {
        //To fit image into confined dimensions with no overflow
        width: 100%;
        height: 100%;
        max-height: 500px;
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }
}

/*-----DESCRIPTION-----*/

p {
    font-size: 60%;
    font-family: $text;
    margin: 5px;
    line-height: 1.6;
}

/*------MENU------*/

//CSS grid display 
.menu-items {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    margin-top: 20px
}

.horizontal-2{
    grid-column: span 2;
    grid-row: span 1;
}
.horizontal-3 {
    grid-column: span 3;
    grid-row: span 1;
}
.horizontal-big {
    grid-column: span 3;
    grid-row: span 2;
}
.vertical-2 {
    grid-column: span 1;
    grid-row: span 2;
}
.vertical-3 {
    grid-column: span 1;
    grid-row: span 3;
}
.vertical-big {
    grid-column: span 2;
    grid-row: span 3;
}
.big {
    grid-column: span 2;
    grid-row: span 2;
}
.small {
    grid-column: span 1;
    grid-row: span 1;
}

//For images to fit perfectly into restricted size
.menu-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

//For text items to display correctly
.menu-item {
    background-color: rgba(0, 0, 0, 0.13);
    text-align: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    & p {
        font-family: $header1;
        font-size: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    & p:first-child {
        font-size: 130%;
    }
}

/*-----FIND US-----*/

#findUs p { margin-left: 0px; }
.schedule {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 60%;
    font-family: $text;
}
.titles, 
.day {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
.date { grid-column: 2/4; }
.hours { grid-column: 4/8; }
.location { grid-column: 8/12; }

/*-----FOOTER-----*/

.footer-background {
    width: 100%;
    height: 210px;
    position: absolute;
}

.footer-content { 
    position: relative;
    margin-top: 50px;
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-social-links {
    margin: 0px 20px;
    font-size: 200%;
}

.fa-facebook-square { color: #3B5998; }
.fa-instagram { color: #fb3958; }
.fa-twitter-square { color: #0084b4; }

footer p { text-align: center; }
.credits { 
    font-size: 50%; 
    margin-bottom: 10px;
}


/*-------------------------*/
/*------SCREEN QUERIES-----*/
/*-------------------------*/

/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width:1200px) {
    
    p { font-size: 65%; }
    
    .anchor{
      height: 140px; 
      margin-top: -140px; 
    }
    
    .horizontal-big {
        grid-column: span 2;
        grid-row: span 1;
    }
    .vertical-big {
        grid-column: span 1;
        grid-row: span 3;
    }
    .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/*Small tablets to big tablets: From 768-1023px;*/
@media only screen and (max-width:1023px) {
    
    .anchor{
      height: 130px; 
      margin-top: -130px; 
    }
    .nav-link,
    .language{ font-size: 110%;}

    /*------HEADER------*/
    .header-background { 
        grid-column: auto/auto;
        width: auto;
        -webkit-transform: translate(0px,-20px);
        transform: translate(0px,-20px);
    }
    .logo-image {
        max-height: 80px;
    }
    #slideshow {
        margin: 210px auto 100px auto;  
        height: 360px; 
    }
    .horizontal-big {
        grid-column: span 1;
        grid-row: span 1;
    }
    .footer-background { -o-object-fit: none; object-fit: none; }
}

/*Small phones to small tablets: from 481-767 px */
@media only screen and (max-width:767px) {
    
    html { font-size: 28px;}
    
    section { padding: 30px 5px 10px 5px; }
    
    .anchor{
      height: 100px; 
      margin-top: -100px; 
    }
    /*------HEADER------*/
    header { height: 120px; }
    
    .header-background { 
        -webkit-transform: translate(0px,0px); 
        transform: translate(0px,0px);
        height: 120px;
    }
    .logo-image {
        max-height: 70px;
        margin-left: 30px;
        padding-top: 5px;
    }
    .header-elements {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 0px;
        padding-top: 5px;
    }
    #slideshow {
        margin: 120px auto 60px auto;  
        height: 360px; 
    }
    
    /*Mobile Navigation*/
    
    .mobile-nav-icon {
        display: block;
        z-index: 999;
        padding-right: 30px;
        padding-top: 20px;
    }
    .nav {
        height: 80px;
        display: none;
        margin-left: 0;
        padding-top: 15px
    }    
    .nav a {
        font-size: 70%;
        font-family: $text;
    }

    /*------MENU------*/
    
    .menu-items {
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
    
    .horizontal-2,
    .horizontal-3,
    .horizontal-big,
    .vertical-2,
    .vertical-3,
    .vertical-big, 
    .small,
    .big, {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/*Small phones: from 0-480 px */
@media only screen and (max-width:480px) {
    
    .anchor{
      height: 60px; 
      margin-top: -60px; 
    }
    html { font-size: 25px;}
    
    body > * { grid-column: 1/-1; }
    
    section {
        margin: 30px 5px 0px 5px;
        border: none;
        border-top: 2px solid gray;
    }
    #slideshow {
        margin: 70px auto 30px auto;  
        height: 290px; 
    }
    /*------HEADER------*/
    header {
        height: 70px;
    }
    .header-background { 
        -webkit-transform: translate(0px,-20px); 
        transform: translate(0px,-20px);
        height: 100px;
    }
    .logo-image {
        max-height: 40px;
        margin-left: 20px;
    }
    .mobile-nav-icon {
//        margin-right: 20px; 
        font-size: 80%;
        padding-right: 20px;
        padding-top: 10px;
    }
    .nav a {
        font-size: 80%;
        display: block;
        padding: 5px 5px;
        background-color: #fcae53;
        color: black;
    }
    
    /*------MENU------*/
    .menu-items {
        grid-template-columns: 1fr;
    }
    .mobile-remove {
        display: none;
    }
    /*-----FIND US-----*/
    .titles { display: none; }
    .schedule { display: block; }
    .day { 
        display: block;
        margin-bottom: 15px;}
}





