@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans');
@import "_cssgrid.scss"; 


//Photo by Nathan Dumlao on Unsplash
//    Font Variables
//    Fonts type



$text: 'Open Sans', sans-serif;
$header1: 'Nanum Pen Script', cursive;

$pink: #E78E80;
$yellow: #FFBC0A;
$orange: #EC7D10;
$headerfooter: #898989;


body {
    background-image: url(../images//donutbackgroundSMALL.jpg);
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
}


//H1 titles + Section borders

section {
    border: 2px solid gray;
    position: relative;
    margin-top: 60px;
    padding: 30px;
    }

.sectionTitle {
    background-color: #fff;
    padding: 0 20px;
    margin-left: 20px;
    position: absolute;
    top: -80px;
    left: 0;
    font-family: $header1;
    font-size: 3em;
}















//-----NAVBAR-----

header {
    background-image: url('../images/Header%20faded.png');
    background-size: cover;
    z-index: 999;
    background-height: 300px;
//    background-attachment: fixed;
//    background-repeat: no-repeat;
//    background-size: 100%;
//    position: fixed;

//    min-height:  100px;
//    height: 200px;
    
}


.navlink {
    font-family: $header1;
    font-size: 2em;
    color: black;
    text-decoration: none;
    
    //ATTEMPT ONE
//        list-style: none;
//    margin-top: 40px; 
//    display: flex;
//    flex-wrap: nowrap;
//    justify-content: flex-end;
        
    
    //ATTEMPT 2
//    font-family: $header1;
//    font-size: 2em;
//    color: black;
//    text-decoration: none;
//    padding: 40px 20px;
    
    //THIS MADE THE WHOLE TOP WORK WITH ATTEMPT 2
    //    display:inline-block;
    
    
        

    
    
}











//-----SLIDESHOW-----
//Original guide: https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/ ******
//Another source, not used https://www.sitepoint.com/making-simple-image-slider-html-css-jquery/

#slideshow {
    //margin and position center the slideshow. Others give paramaters as to size. 
    margin: 50px auto; 
    position: relative; 
    width: 100%; 
    height: 300px; 
//    overflow: hidden;
    > div {
        //    to allow image to disappear behind newly created child
        position: absolute;
    }
    & img {
        //To fit image into confined dimensions with no overflow
        width:100%;
        height:100%;
        max-height:400px;
        object-fit: cover;
    }
}

//-----DESCRIPTION-----

p {
    font-size: 1.2em;
    font-family: $text;
    margin: 10px;
}

#aboutUs {

}

//-----MENU-----
#menu {

}
.menuimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//-----FOOTER-----
.footer {
     background-color: $headerfooter;
}